<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClothingStoreConnection"
			 connectionString="Data Source=DESKTOP-0D7I4DL;Initial Catalog=ClothingStore;Integrated Security=True; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
